html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1;
  min-height: calc(100vh - 56px); /* Ajusta si el Navbar es más alto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 56px; /* Para que no se solape */
}
.main-content h1 {
  font-size: 2rem;
  margin: 0;
}
.main-content p {
  font-size: 1.2rem;
  margin: 0;
}
.main-content a {
  color: #007bff;
  text-decoration: none;
}
.main-content a:hover {
  text-decoration: underline;
} 