html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 56px; /* Ajuste para navbar */
  text-align: center;
}
